<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <a
        href="https://www.etsy.com/oauth/connect?response_type=code&redirect_uri=http://localhost:3004/oauth/redirect&scope=email_r&client_id=6xhwtnjudbrqsjpocccu6dvx&state=frb1vp&code_challenge=bmvgdI3_pHO-YoPvvyu5fw-C_Zny66r992rPW6cOBsM&code_challenge_method=S256">Auth</a>
</body>

</html>